@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-aspect-ratio: 16/9) {
  iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

iframe {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  padding: 10px;
}

.swiper-slide-active {
  padding: 2px;
}

.swiper-slide-active div:first-child {
  border-radius: 0.375rem;
  border: 2px solid white;
}

.swiper-slide div:first-child:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
/* hover:scale-110 duration-200 ease-in-out */

.dropdown .dropdown-content {
  display: none;
}
.dropdown:focus-within .dropdown-content {
  display: block;
}
